repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version. Use the sha / tag you want to point at.
    rev: v0.8.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

